@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/jack-hermanson-css-lib/src/main.scss";



html, body {
  min-height: 100vh;
  font-family:  /*"SF Pro Rounded", */"Inter", $font-family-sans-serif;
}

.form-group {
  @extend .mb-3;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  .container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  input[type=checkbox] {
    cursor: pointer;
  }
  label {
    user-select: none;
  }
  p {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 100 1000;
}

.blink-me {
  animation: blinker 1.5s steps(2) infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
}
