<div class="card mb-4 no-mb-last" id="item-{{ item.item_id }}">
    <div class="card-body">
        {% if item.image_url %}
            <div class="row">
                <div class="col-3 mb-3">
                    <img src="{{ item.image_url }}" alt="A nice view of the {{ item.name }} product" class="img-thumbnail">
                </div>
            </div>
        {% endif %}
        <h5 class="card-title">{{ item.name }} · ${{'%0.2f'| format(item.price/100.0|float)}}</h5>
        <p>
            {% if item.description %}
                {{ item.description }}
            {% else %}
                <span class="text-muted">No description</span>
            {% endif %}
        </p>
        {% if current_user.is_authenticated and not item in current_user.cart.items %}
            <form
                class="d-flex"
                id="add-item-{{ item.item_id }}-form"
                hx-post="{{ url_for("carts.add_to_cart") }}"
                hx-target="#item-{{ item.item_id }}"
                hx-swap="outerHTML"
                method="POST"
            >
                <input type="hidden" value="{{ item.item_id }}" name="item_id">
                <button class="btn btn-sm btn-success me-2" type="submit">Add to Cart</button>

                <select class="form-control-sm" style="width: 70px" name="count">
                    {% for number in range(1, item.current_inventory + 1) %}
                        <option
                            value="{{ number }}"
                            {# todo - handle adding multiples of item and when it's already in cart #}
                        >
                            {{ number }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        {% elif current_user.is_authenticated and item in current_user.cart.items %}
            <div class="alert alert-success">Item added to cart.</div>
            <a
                href="{{ url_for("carts.remove_from_cart", item_id=item.item_id, screen="items") }}"
                hx-post="{{ url_for("carts.remove_from_cart", item_id=item.item_id, screen="items") }}"
                hx-target="#item-{{ item.item_id }}"
                hx-swap="outerHTML"
            >
                Remove from cart
            </a>
        {% else %}
            <div>
                <p>Please log in to add items to your cart.</p>
            </div>
        {% endif %}
    </div>
</div>