<div id="cart-items">
    {% if cart.cart_items|length < 1 %}
        <p>Cart is empty</p>
    {% else %}
    <h5>Items in cart:</h5>
    <ul>
        {% for cart_item in cart.cart_items %}
            <li>
                {{ cart_item.item.name }}
                (x{{ cart_item.count }})
                <a
                    href="{{ url_for("carts.remove_from_cart", item_id=cart_item.item.item_id, screen="cart") }}"
                    hx-post="{{ url_for("carts.remove_from_cart", item_id=cart_item.item.item_id, screen="cart") }}"
                    hx-target="#cart-items"
                    hx-swap="outerHTML"
                >
                    Remove from cart
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>